@import 'https://fonts.googleapis.com/css?family=Pavanam';
/* Variables */
$bg-main: #222;
$bg-form: rgba(231, 231, 231, .3); // $bg-form: #666;
$color-text-main: #888;
$color-text-form: darken(#e7e7e7, 10%);
$font-family-standard: 'Pavanam', sans-serif;
/* General Styles */
* {
    font-family: $font-family-standard;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
    }

    p {
        letter-spacing: 0.5px;
    }
}

body {
    background-color: $bg-main;
}
/* Home Page */
.column {
    height: 100%;

    img {
        width: 100%;
        margin-bottom: 20px;
    }
}

header {
    .img-fluid-bg {
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }

    .glyphicon-menu-left,
    .glyphicon-menu-right {
        display: inline-block;
        position: absolute;
        top: 50%;
        z-index: 5;
    }
}

.navbar {
    z-index: 1;
    border-radius: 0;

    li {
        a {
            font-weight: bold;
            font-size: 1.2em;
        }
    }
}

.affix {
    top: 0;
    width: 100%;
}

.affix+.container-fluid {
    padding-top: 70px;
}
/*Contact Page*/
.contact-container {
    margin-top: 100px;
    @media screen and (max-width: 1199px) {
        margin-bottom: 100px;
    }
}
// Form
form {
    background-color: $bg-form;
    padding: 20px;
    @media screen and (max-width: 1199px) {
        margin-top: 20px;
        margin-bottom: 50px;
    }

    h2 {
        padding-top: 0;
        margin-top: 0;
        color: $color-text-form;
        display: inline-block;
    }

    .required-message {
        float: right;
        color: $color-text-form;
        letter-spacing: 1px;
    }

    label {
        color: $color-text-form;
        font-weight: lighter;
        letter-spacing: 1px;
    }

    .form-group {
        input,
        textarea {
            border-radius: 0;

            &:invalid:focus {
                border: 2px solid #ffa899;
            }

            &:valid:focus {
                border: 2px solid #8cd98c;
            }

            &:focus {}
        }

        textarea {
            resize: none;
        }
    }
    // .required-token {
    //     color: #ff9380;
    // }
    .btn {
        border-radius: 0;
        margin: auto;
        display: block;
        width: 50%;
        font-size: 1.2em;
        margin-top: 20px;
    }
}
//Text Section
.about-me {
    color: $color-text-main;

    h1 {
      margin-top: 0px;
    }

    div {
        @media screen and (min-width: 1200px) {
            padding-right: 100px;
        }
    }

    p {
        text-align: justify;
        font-size: 1.2em;
    }

    img {
        width: 250px;
        padding-right: 20px;
        float: left;
        @media screen and (min-width: 1200px) {
            padding-bottom: 5px;
        }
        @media screen and (max-width: 1199px) {
            width: 200px;
        }
        @media screen and (max-width: 342px) {
            width: 180px;
        }
    }
}
/* Price Page */
.prices-container {
    margin: 200px auto;
    width: 192px;
    color: $color-text-main;

    td {
        padding-right: 5px;
        padding-bottom: 10px;
    }
}
/* Email Confirmation Page */
.email-confirmation-container {
    margin: 200px auto;
    width: 275px;
    color: $color-text-main;
}
/* Wedding Page */
.wedding-preview {
    background-image: url("images/home-carousel/moonrise-lake.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    border: 5px solid $bg-main;
}

.modal {
    margin-top: 50px;
}

.modal-lg {
    min-width: 68%;
}

.modal-content {
    border-radius: 0;
}

.modal-body {
    padding: 5px;
}
/* Home Modal Preview */
#preview-modal {
    .modal-content {
        background-color: $bg-main;
    }

    .modal-header {
        border-bottom: none;
    }

    .modal-body {
        img {
            max-width: 100%;
            max-height: 750px;
            display: block;
            margin: auto;
        }
    }

    .close {
        margin-top: -12px;
        text-shadow: none;
        color: #fff;
        opacity: 0.4;
        font-family: sans-serif;

        &:hover {
            opacity: 0.7;
        }
    }
}
/* Wedding Page Modal */
#wedding-modal {
    .modal-content {
        background-color: $bg-main;
    }

    .modal-header {
        border-bottom: none;
        color: $color-text-main;
    }

    .close {
        text-shadow: none;
        color: #fff;
        opacity: 0.4;
        font-family: sans-serif;

        &:hover {
            opacity: 0.7;
        }
    }
}
// #thank-you-panel {
//     margin-top: 100px;
//
//     .panel-body {
//         text-align: center;
//     }
// }
